{{#if orgs}}
<center>
      <div class="list-group">
        {{#each orgs}}
           <section class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h3>{{charityName}}</h3>
          </div>
            <p>Mission Statement:{{missionStatement}}</p>
            <p>Donation URL:<a href="{{donationUrl}}">{{donationUrl}}</a></p>
            <p>EIN:{{ein}}</p>
        </section>
        {{/each}}
</center>
{{/if}}
{{#if events}}
<center>
      <div class="list-group">
        {{#each events}}
           <section class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{name.text}}</h5>
            <small class="text-muted">{{start.local}}</small>
          </div>
            <p class="mb-1">{{description.text}}</p>
            <a href="{{url}}">{{url}}</a>
           </section>
        {{/each}}
</center>
{{/if}}

